:root{
    --bacround-color-menu: #131814;
    --primary-color: #E88A1A;
    --h2-color:#e8aa1a;
    --bacround-color: #080323c6;
    --rightBlock-color:#0f063fc7;
    --grey-color: #808080;
}

header{
    background-color: var(--bacround-color-menu);
    margin-top: 0;
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.barber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.components{
    display: flex;
}

.logo_img {
    height: 150px;
}

.icons{
    height: 70px;
    margin-left: 30px;
    margin-right: 10px;
}

.logo_name{
    color: var(--primary-color);
    font-size: 25px;
    margin-right: 50px;
}

body{
    background-color: var(--bacround-color);
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    padding-top: 146px;
}

.titleUs{
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 50px;
}

.titleBlocks{
    color: var(--h2-color);
    text-transform: uppercase;
    font-size: 30px;
}

.right{
    background-color: var(--rightBlock-color);
    padding: 17px 0px;
}

.textinBlock{
    color: var(--primary-color);
    font-size: 25px;
    line-height: 1.2;
}

footer{
    background-color: var(--bacround-color-menu);
    margin: 0px;
}

.footerName{
    margin: 0x;
    margin-top: 10px;
    font-size: 50px;
    color: var(--primary-color);
}