:root{
    --bacround-color-menu: #131814;
    --primary-color: #E88A1A;
    --bacround-color: #080323c6;
    --grey-color: #808080;
}

header{
    background-color: var(--bacround-color-menu);
    margin-top: 0;
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.barber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.components{
    display: flex;
}

.logo_img {
    height: 150px;
}

.icons{
    height: 70px;
    margin-left: 30px;
}

.logo_name{
    color: var(--primary-color);
    font-size: 25px;
    margin-right: 50px;
}

body{
    background-color: var(--bacround-color);
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.info{
    padding-top: 146px;
}

footer{
    background-color: var(--bacround-color-menu);
}