:root{
    --bacround-color-menu: #131814;
    --primary-color: #E88A1A;
    --h2-color:#e8aa1a;
    --bacround-color: #080323c6;
    --rightBlock-color:#0f063fc7;
    --grey-color: #808080;
}

header{
    background-color: var(--bacround-color-menu);
    margin-top: 0;
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.barber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.components{
    display: flex;
}

.logo_img {
    height: 150px;
}

.socialIcons{
    height: 70px;
    margin-left: 30px;
    margin-right: 10px;
}

.socialLink .socialIcons{
    transition: filter 0.2s ease, transform 0.15s ease;
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.4));
}

.socialLink:hover .socialIcons{
    filter: drop-shadow(0 0 6px rgba(200,200,200,0.8));
}

.socialLink:active .socialIcons{
    filter: drop-shadow(0 0 6px rgba(120,120,120,0.9));
    transform: scale(0.95);
}

a, a:active, a:focus{
    text-decoration: none !important;
}

.logo_name{
    color: var(--primary-color);
    font-size: 25px;
    margin-right: 50px;
}

body{
    background-color: var(--bacround-color);
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    padding-top: 146px;
}

.aboutUs{
    justify-content: center;
    text-align: center;
}

.titleUs{
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 50px;
}

.titleBlocks{
    color: var(--h2-color);
    text-transform: uppercase;
    font-size: 30px;
}

.subspecial{
    margin-bottom: 0px;
}

.right{
    background-color: var(--rightBlock-color);
    padding: 17px 0px;
    text-align: right;
}

.horizontal{
    display: flex;
    justify-content: space-between;
}

.blockInsideImg{
    width: 980px;
    height: 250px;
    overflow: hidden;

}

.blockInsideImg #blockInfoImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.blockInsideImg #blockInfoImg:hover{
    transform: scale(1.2);
}

.blockInsideText{
    margin: 0px 20px;
}

.center{
    text-align: center;
    padding: 17px 0px;
    background-color: var(--rightBlock-color);
}

.textinBlock{
    color: var(--primary-color);
    font-size: 25px;
    line-height: 1.2;
}

.subtitleBlock{
    color: var(--primary-color);
    font-size: 25px;
    margin-top: 0px;
    text-transform: uppercase;
}

footer{
    background-color: var(--bacround-color-menu);
    margin: 0px;
}

.footerName{
    margin: 0px;
    margin-top: 0px;
    padding-top: 20px;
    font-size: 50px;
    color: var(--primary-color);
}

.down_info{
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: var(--grey-color);
    text-align: center;
}