:root{
    --bacround-color-menu: #131814;
    --primary-color: #E88A1A;
    --bacround-color: #080323c6;
    --grey-color: #808080;
}

header{
    background-color: var(--bacround-color-menu);
    margin-top: 0;
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.barber{
    display: flex;
    align-items: center;
}

.logo_img, .icons{
    height: 150px;

}

.logo_name{
    color: var(--primary-color);
    margin-left: 40px;
    font-size: 25px;
}

.social{
    justify-content: space-between;   /* dont now*/
}

body{
    background-color: var(--bacround-color);
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.info{
    padding-top: 146px;
}