<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="icon" href="static/img/barber-logo.png" type="image/png">
    <title>{% block title %}web{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        {% block header %}
            {% include "index_part/header.html" %}
        {% endblock %}
    </header>

    <main>{% block main %}{% endblock %}</main>
<!-- 
    <footer>{% block footer %}{% endblock %}</footer> 
    
    TODO: Temporarily disabled; to be reinstated after refactoring main.html-->

    <script src="{{ url_for('static', filename='function.js') }}"></script>
</body>
</html>