<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/barber_logo.jpg" type="image/png">
    <title>Your Strong Point</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="barber">
            <div class="components">
                <div class="logo">
                    <img class="logo_img" src="static/img/barber_logo.jpg" title="A man with a beard and hairstyle" alt="Your strong point">
                </div>

                <div class="logo_name">
                    <h1 class="name">Your Strong Point</h1>
                </div>
            </div>
            <div class="social">
                <img class="icons" src="static/img/instagram.png" title="instagram icon" alt="instagram">
                <img class="icons" src="static/img/facebook.png" title="facebook icon" alt="facebook">
                <img class="icons" src="static/img/whatsapp.png" title="whatsapp icon" alt="whatsapp">
                <img class="icons" src="static/img/telegram.png" title="telegram icon" alt="telegram">
            </div>
        </div>
    </header>

    <section class="info">
        
        <div class="everything">

            <div class="aboutUs">
                <h1 class="titleUs">About as</h1>
                <div class="blockUs">
                    <div>
                        <h3></h3>
                        <p></p>
                    </div>

                    <div>
                        <h3></h3>
                        <p></p>
                    </div>

                    <div>
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer></footer>

    <script src="{{ url_for('static', filename='function.js') }}"></script>
</body>
</html>