<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/barber_logo.jpg" type="image/png">
    <title>Your Strong Point</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="barber">
            <div class="components">
                <div class="logo">
                    <img class="logo_img" src="static/img/barber_logo.jpg" title="A man with a beard and hairstyle" alt="Your strong point">
                </div>

                <div class="logo_name">
                    <h1 class="name">Your Strong Point</h1>
                </div>
            </div>
            <div class="social">
                <a href="#" class="socialLink">
                    <img class="socialIcons" src="static/img/instagram.png" title="instagram icon" alt="instagram">
                </a>
                <a href="#" class="socialLink">
                    <img class="socialIcons" src="static/img/facebook.png" title="facebook icon" alt="facebook">
                </a>
                <a href="#" class="socialLink">
                    <img class="socialIcons" src="static/img/whatsapp.png" title="whatsapp icon" alt="whatsapp">
                </a>
                <a href="#" class="socialLink">
                    <img class="socialIcons" src="static/img/telegram.png" title="telegram icon" alt="telegram">
                </a>
            </div>
        </div>
    </header>

    <section class="info">
        
        <div class="everything">

            <div class="aboutUs">
                <h1 class="titleUs">About us</h1>
            </div>

            <div class="blockUs">

                <div class="right blockInfo horizontal">
                    <div class="blockInsideImg">
                        <img id="blockInfoImg" src="static/img/barber_salon.jpg" title="barber_salon" alt="barber salon">
                    </div>

                    <div class="blockInsideText">
                        <h2 class="titleBlocks">About The Salon</h2>
                        <p class="textinBlock">The barbershop <b>Your Strong Point</b> is a place where style meets precision. Here,
                            individuality is valued, and every client is helped to highlight their character through a clean haircut,
                            a perfectly shaped beard, and a well-thought-out look. The atmosphere of the barbershop combines modern minimalism with comfort,
                            making every visit not just a service, but a pleasant self-care ritual.
                        </p>
                    </div>
                </div>

                <div class="left blockInfo horizontal">
                    <div class="blockInsideText">
                        <h2 class="titleBlocks">About employees</h2>
                        <p class="textinBlock">At <b>Your Strong Point</b>, skilled barbers work with professionalism and great attention to detail.
                            They continuously improve their skills, follow the latest trends, and know how to connect with every guest.
                            For them, it’s important not only to do a great job, but also to create comfort, trust, and confidence in the final result.
                        </p>
                    </div>

                    <div class="blockInsideImg">
                        <img id="blockInfoImg" src="static/img/employee.avif" title="barber_employee" alt="barber_employee">
                    </div>
                </div>

                <div class="center blockInfo">
                    <h2 class="titleBlocks">Where to find us</h2>
                    <p class="textinBlock">fgfd</p>
                </div>

            </div>
            
        </div>

    </section>

    <footer>
        
        <div>
            <h1 class="footerName">Your Strong Point</h1>
            <p></p>
        </div>

    </footer>

    <script src="{{ url_for('static', filename='function.js') }}"></script>
</body>
</html>