<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Strong Point</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="barber">
            <div class="logo">
                <img class="logo_img" src="static/img/barber_logo.jpg" title="A man with a beard and hairstyle" alt="Your strong point">
            </div>

            <div class="logo_name">
                <h1 class="name">Your Strong Point</h1>
            </div>
        </div>
    </header>

    <section>
        <div></div>
        
        <div>
            <div>
                <h1>About as</h1>
            </div>

            <div></div>

            <div></div>
        </div>
    </section>

    <footer></footer>

    <script src="{{ url_for('static', filename='function.js') }}"></script>
</body>
</html>