<div>
    <h1 class="footerName">Your Strong Point</h1>
    <p class="footerText">Sing up and come to us</p>
</div>

<!-- <div class="socialBox">
    <a href="#" class="socialLink">
        <img class="socialIcons" src="static/img/instagram.png" title="instagram icon" alt="instagram">
    </a>
    <a href="#" class="socialLink">
        <img class="socialIcons" src="static/img/facebook.png" title="facebook icon" alt="facebook">
    </a>
    <a href="#" class="socialLink">
        <img class="socialIcons" src="static/img/whatsapp.png" title="whatsapp icon" alt="whatsapp">
    </a>
    <a href="#" class="socialLink">
        <img class="socialIcons" src="static/img/telegram.png" title="telegram icon" alt="telegram">
    </a>
</div> 
TODO: the next block of code to be processed-->

<div class="footer_botom">
    <p class="down_info">&copy; 2026 All rights reserved.<br> This web development example.<br>The logos are registered trademarks in the contry.</p>
</div>