<div class="barberBox">
    <div class="logoBox">
        <div>
            <img class="logoImg" src="static/img/barber-logo.png" title="A man with a beard and hairstyle" alt="Your strong point">
        </div>

        <div class="logoText">
            <h1>Your Strong Point</h1>
        </div>
    </div>

    <nav class="boxLinks" id="boxLinks">
        <div>
            <a class="curlLink" href="#"><span>Worksamples</span></a>
        </div>
        <div>
            <a class="curlLink" href="#"><span>Sing up</span></a>
        </div>
    </nav>

    <button class="burger" id="burgerBtn" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>