<section class="aboutusSection">
    <div>
    
        <div class="aboutusTitle">
            <h1>About us</h1>
        </div>
    
        <div class="aboutusContainer">
            {%for id, aboutusContent in aboutusContents.items() %}
                <div class="cardAboutus">
                    <img class="aboutusImg" src="{{aboutusContent.img}}" alt="{{aboutusContent.alt}}">
                    <div class="content-aboutUs">
                        <h2>{{aboutusContent.title}}</h2>
                        <p>{{aboutusContent.text}}</p>
                    </div>
                </div>
            {%endfor%}
        </div>
    
    </div>
</section>

<section class="gallerySections" id="gallerySections">
    
    <div>
        <h1 class="galeriiTitle">Our works</h1>
        <div class="galleryContent">
            <img class="galleryImg imgTop" src="static/img/man-haircut1.jpg" alt="A man with dark hair and a simple haircut">
            <img class="galleryImg imgTop" src="static/img/man-haircut2.jpg" alt="A black-and-white photo of a man against a white background">
            <img class="galleryImg imgTop" src="static/img/man-haircut3.avif" alt="Black, wet hair">
            <img class="galleryImg imgBottom" src="static/img/haircut-woman1.jpg" alt="A woman with long hair on the street">
            <img class="galleryImg imgBottom" src="static/img/haircut-woman2.jpg" alt="A girl with red hair outdoors">
            <img class="galleryImg imgBottom" src="static/img/haircut-woman3.jpg" alt="A brunette in a white dress">
            
        </div>
    
        <div class="modal" id="modal">
            <div class="controls">
                <div class="arrow" id="prev">&#10094;</div>
                <div class="arrow" id="next">&#10095;</div>
            </div>
            <img id="modal-img" src="" alt="">
            <div class="zoom-controls">
                <button class="zoom-btn" id="zoom-in">+</button>
                <button class="zoom-btn" id="zoom-out">−</button>
                <button class="zoom-btn" id="close">Close</button>
            </div>
        </div>
    </div>
    
</section>
<section class="priceSection">

    <div class="priceContent">
        <h1>Price List</h1>
    
        {%for id, priceInfo in priceInfos.items() %}
            <div class="priceCard">
                <h2>{{priceInfo.title}}</h2>
                <p>{{priceInfo.text}}</p>
                <p>{{priceInfo.price}}</p>
            </div>
        {%endfor%}
    </div>

</section>