<section class="aboutusSection">
    <div>
    
        <div class="aboutusTitle">
            <h1>About us</h1>
        </div>
    
        <div class="aboutusContainer">
    
            <div class="cardAboutus">
                <img class="aboutusImg" src="static/img/barbershop.jpg" alt="barber shop">
                <div class="content-aboutUs">
                    <h2>About The Salon</h2>
                    <p>The barbershop <b>Your Strong Point</b> is a place where style meets precision. Here,
                        individuality is valued, and every client is helped to highlight their character through a clean haircut,
                        a perfectly shaped beard, and a well-thought-out look. The atmosphere of the barbershop combines modern minimalism with comfort,
                        making every visit not just a service, but a pleasant self-care ritual.
                    </p>
                </div>
            </div>
    
            <div class="cardAboutus">
                <img class="aboutusImg" src="static/img/hai-phu.jpg" alt="Hair Style">
                <div class="content-aboutUs">
                    <h2>About employees</h2>
                    <p>At <b>Your Strong Point</b>, skilled barbers work with professionalism and great attention to detail.
                        They continuously improve their skills, follow the latest trends, and know how to connect with every guest.
                        For them, it’s important not only to do a great job, but also to create comfort, trust, and confidence in the final result.
                    </p>
                </div>
    
            </div>
        </div>
    
    </div>
</section>

<section class="gallerySections" id="gallerySections">
    
    <div>
        <h1 class="galeriiTitle">Our works</h1>
        <div class="galleryContent">
            <img class="galleryImg imgTop" src="static/img/man-haircut1.jpg" alt="A man with dark hair and a simple haircut">
            <img class="galleryImg imgTop" src="static/img/man-haircut2.jpg" alt="A black-and-white photo of a man against a white background">
            <img class="galleryImg imgTop" src="static/img/man-haircut3.avif" alt="Black, wet hair">
            <img class="galleryImg imgBottom" src="static/img/haircut-woman1.jpg" alt="A woman with long hair on the street">
            <img class="galleryImg imgBottom" src="static/img/haircut-woman2.jpg" alt="A girl with red hair outdoors">
            <img class="galleryImg imgBottom" src="static/img/haircut-woman3.jpg" alt="A brunette in a white dress">
            
        </div>
    
        <div class="modal" id="modal">
            <div class="controls">
                <div class="arrow" id="prev">&#10094;</div>
                <div class="arrow" id="next">&#10095;</div>
            </div>
            <img id="modal-img" src="" alt="">
            <div class="zoom-controls">
                <button class="zoom-btn" id="zoom-in">+</button>
                <button class="zoom-btn" id="zoom-out">−</button>
                <button class="zoom-btn" id="close">Close</button>
            </div>
        </div>
    </div>
    
</section>
<section class="priceSection">

    <div class="priceContent">
        <h1>Price List</h1>
    
        {%for id, priceInfo in priceInfos.items() %}
            <div class="priceCard">
                <h2>{{priceInfo.title}}</h2>
                <p>{{priceInfo.text}}</p>
                <p>{{priceInfo.price}}</p>
            </div>
        {%endfor%}
    </div>

</section>