<section class="AboutUsBox">
    <div class="everything">
    
        <div class="aboutUs">
            <h1 class="titleUs">About us</h1>
        </div>
    
        <div class="blockUs">
    
            <div class="right blockInfo horizontal">
                <div class="blockInsideImg">
                    <img id="blockInfoImg" src="static/img/barber_salon.jpg" title="barber_salon" alt="barber salon">
                </div>
    
                <div class="blockInsideText">
                    <h2 class="titleBlocks">About The Salon</h2>
                    <p class="textinBlock">The barbershop <b>Your Strong Point</b> is a place where style meets precision. Here,
                        individuality is valued, and every client is helped to highlight their character through a clean haircut,
                        a perfectly shaped beard, and a well-thought-out look. The atmosphere of the barbershop combines modern minimalism with comfort,
                        making every visit not just a service, but a pleasant self-care ritual.
                    </p>
                </div>
            </div>
    
            <div class="left blockInfo horizontal">
                <div class="blockInsideText">
                    <h2 class="titleBlocks">About employees</h2>
                    <p class="textinBlock">At <b>Your Strong Point</b>, skilled barbers work with professionalism and great attention to detail.
                        They continuously improve their skills, follow the latest trends, and know how to connect with every guest.
                        For them, it’s important not only to do a great job, but also to create comfort, trust, and confidence in the final result.
                    </p>
                </div>
    
                <div class="blockInsideImg">
                    <img id="blockInfoImg" src="static/img/employee.avif" title="barber_employee" alt="barber_employee">
                </div>
    
            </div>
        </div>
    
    </div>
</section>