<div class="headerBarberbox">
    <div class="logoNbox">
        <div>
            <img class="logo_img" src="static/img/Barber_logo.webp" title="A man with a beard and hairstyle" alt="Your strong point">
        </div>

        <div class="logo_name">
            <h1 class="name">Your Strong Point</h1>
        </div>
    </div>
    <div class="socialBox">
        <a href="#" class="socialLink">
            <img class="socialIcons" src="static/img/instagram.png" title="instagram icon" alt="instagram">
        </a>
        <a href="#" class="socialLink">
            <img class="socialIcons" src="static/img/facebook.png" title="facebook icon" alt="facebook">
        </a>
        <a href="#" class="socialLink">
            <img class="socialIcons" src="static/img/whatsapp.png" title="whatsapp icon" alt="whatsapp">
        </a>
        <a href="#" class="socialLink">
            <img class="socialIcons" src="static/img/telegram.png" title="telegram icon" alt="telegram">
        </a>
    </div>
</div>