<section>
    
    <div class="work">
        <h1 class="galerii_h">Our works</h1>
        <div class="gallery">
            <img class="gallery_foto" src="static/img/haircut1.jpg" alt="">
            <img class="gallery_foto" src="static/img/haircut2.webp" alt="">
            <img class="gallery_foto" src="static/img/haircut3.jpg" alt="">
            <img class="gallery_foto" src="static/img/haircut4longhair.jpg" alt="">
            <img class="gallery_foto" src="static/img/haircutwoman1.webp" alt="">
            <img class="gallery_foto" src="static/img/haircutwoman2.jpg" alt="">
            <img class="gallery_foto" src="static/img/haircutwoman3.jpg" alt="">
        </div>
    
        <div class="modal" id="modal">
            <div class="controls">
                <div class="arrow" id="prev">&#10094;</div>
                <div class="arrow" id="next">&#10095;</div>
            </div>
            <img id="modal-img" src="" alt="">
            <div class="zoom-controls">
                <button class="zoom-btn" id="zoom-in">+</button>
                <button class="zoom-btn" id="zoom-out">−</button>
                <button class="zoom-btn" id="close">Close</button>
            </div>
        </div>
    </div>
    
</section>