<section>
    
    <div class="registrContainer">
        <h2 class="titleBlocks">Come to us</h2>
        <h3 class="subtitleBlock">We are waiting for you</h3>
    
        <div>
            <form action="">
                <p>
                    <label for="name">Name</label>
                    <input type="text" id="name" required>
                </p>
    
                <p>
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" required>
                </p>
    
                <p>
                    <label for="telNumber">Phone number</label>
                    <input type="tel" id="telNumber" required>
                </p>
    
                <p>
                    <label for="messageforAdmin">Messages</label>
                    <textarea id="messageforAdmin" name="message" rows="8" cols="50" placeholder="Write the text..." required></textarea>
                </p>
    
                <p>
                    <button id="registrBtn" type="submit">Send</button>
                </p>
            </form>
        </div>
    
        <div class="location">
    
        </div>
    
    </div>

</section>